<h1>{{title}}</h1>
<a routerLink="/dashboard" routerLinkActive="nav-active" class="nav">所有人物</a>
&nbsp;
<a routerLink="/heros" routerLinkActive="nav-active" class="nav">人物前沿</a>
&nbsp;
<a routerLink="/heroRelate" routerLinkActive="nav-active" class="nav">人物关系</a>
&nbsp;
<a routerLink="/heroAnimation" routerLinkActive="nav-active" class="nav">人物动画</a>
&nbsp;
<a routerLink="/heroSwiper" routerLinkActive="nav-active" class="nav">Touch Event</a>
&nbsp;
<a routerLink="/heroHttp" routerLinkActive="nav-active" class="nav">Test http module</a>
<router-outlet></router-outlet>